/* *{
  box-sizing: border-box;
} */

html{
  height:100%;
  width:100%;
  /* position: absolute; */
}

body {
  font-family: "Nosifer", cursive;
  background-image: url(https://images.unsplash.com/photo-1602974507724-18436ae0bca6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1032&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.header-content{
  font-size: 1.4ch;
  text-shadow: 4px 3px 1px #5a00ad;

}
header {
  text-align: center;
  letter-spacing: 0.1em;
  margin-top: -1.1rem;
  color: #d86e00;
}

header > h2{
  font-size: 1.3ch;
  margin-bottom: 0em;
  margin-top: -1.7rem;
}

.main-page-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  height: 50%;
}

.board-wrapper{
  display:flex;
}

.main-game-board {
  height: 95%;
  margin: 1.06rem 0 .8rem 0;
  display: grid;
  align-items: stretch;
  grid-template-columns: repeat(3,1fr);
  text-align: center;
  justify-content: space-between;
}

.play-again {
  display: flex;
  justify-content: center;
}

.board-reset-btn {
  width: 14rem;
  margin-top: -5px;
  font-family: 'Nosifer',cursive;
  font-size: 1.1ch;
  height: 3rem;
  color: #ab0000;
  background-color: #000000;
  box-shadow: 0px 0px 4px #5d00b1;
}

.cell {
  font-size: 5rem;
  height: 8.5rem;
  width: 9.5rem;
  display: inline-block;
  text-shadow: 4px 3px 8px #a60000;
  box-shadow: 0px 0px 40px #6f0071bf;
}

.cell1,
.cell4{
  border-bottom: 4px solid #f49300;
  border-right: 4px solid #f49300;
}

.cell2,
.cell5{
  border-bottom: 4px solid #f49300;
  border-right: 4px solid #f49300;
}
.cell3,
.cell6{
  border-bottom: 4px solid #f49300;
}
.cell7,
.cell8{
  border-right: 4px solid #f49300;

}

.cell7,
.cell8,
.cell9{
  margin-bottom: 4rem;
}

.zombie-current-score,
.goblin-current-score{
  padding: 0;
  margin: 0;
  font-size: 3ch;
  color: #d86e00;
  text-shadow: 4px 3px 1px #5a00ad;
}

.player1-zombie{
  display:flex;
  width: 15rem;
  height: 27rem;
  flex-direction: column;
  margin: 0 5% 0 5%;

}

.player2-goblin{
  display:flex;
  width: 15rem;
  height: 27rem;
  flex-direction: column;
  margin: 0 5% 0 5%;

}
.player1-zombie,
.player2-goblin{
  align-items:center;

}

.zombie-token,
.goblin-token{
  margin-top: 0;
  margin-left: 0rem;
  margin-bottom: -20px;
  font-size: 5ch;
  text-shadow: 4px 3px 8px #00c03b;

}

.zombie-wins,
.goblin-wins{
  margin: 0;
  font-size: 2ch;
  color: #d86e00;
  text-shadow: 4px 3px 1px #5a00ad;
}

.hidden {
  display:none;
}
